@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700,700i&display=swap");

$input-btn-focus-box-shadow: none;
$grid-columns: 12;

$grid-breakpoints: (
  // Extra small screen / phone
    xs: 0,
  // Small screen / phone
    sm: 576px,
  // Medium screen / tablet
    md: 768px,
  // Large screen / desktop
    lg: 992px,
  // Extra large screen / wide desktop
    xl: 1200px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
);

$break-small: 320px;
$break-large: 650px;
$break-large: 1200px;

$bg-dark: #343a40;

button:focus,
.btn:focus,
textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
  box-shadow: inset 0 0 0 #ddd;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: black;
  padding: 20px;
}


a {
  color: #6c757d;
}

ul {
  list-style: none;
}

.ul-mobile {
  list-style: none;
  li {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    a:hover {
      background-color: lightblue;
      width: 150px;
      text-align: left;
    }
  }
}

.icon-hover {
  a:hover {
    display: block;
    background-color: lightblue;
    border-radius: 30px;
  }
}

.input-icons i {
  position: absolute;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
}

.input-field {
  width: 100%;
  padding: 10px;
  text-align: center;
}


.fa-shopping-cart,
.fa-user,
.fa-sign-in-alt,
.fa-bed,
.fa-user {
  font-size: 24px;
}

input[text]:invalid {
  border: 1px solid red;
}

input[text]:valid {
  border: 1px solid green;
}

input[type="number"] {
  border: 1px solid lightgray;
}

.logo {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  text-indent: -9999px;
  width: 100px;
  height: 82px;
  background: url("../img/logo.svg");
  background-size: 100px 82px;
}

.opacity-0 {
  opacity: 0;
}

.opacity-10 {
  opacity: 0.1;
}

.opacity-20 {
  opacity: 0.2;
}

.opacity-30 {
  opacity: 0.3;
}

.opacity-40 {
  opacity: 0.4;
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-60 {
  opacity: 0.6;
}

.opacity-70 {
  opacity: 0.7;
}

.opacity-80 {
  opacity: 0.8;
}

.opacity-90 {
  opacity: 0.9;
}

.opacity-100 {
  opacity: 1;
}

input[type="number"] {
  width: 80px;
  box-sizing: border-box;
  border: 2px solid #ccc;
}

.container-fluid {
  position: relative;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

.cart {
  padding: 2%;
  text-align: center;
  width: 100%;
  &--modal {
    z-index: 999;
    position: absolute;
    width: 0px;
    transition: width 1s linear;
  }
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.cart-item {
  background-color: rgb(240, 240, 240);
}

.cart-btn-delete {
  position: absolute;
  top: 0px;
  right: 0px;
  display: -webkit-box;
}

.topright {
  position: absolute;
  top: 8px;
  right: 2px;
  font-size: 18px;
  font-weight: 600;
  padding: 5px 10px;
  background-color: #343a40;
  color: whitesmoke;
}

.topcenter {
  position: absolute;
  top: 30px;
  text-align: center;
  font-size: 18px;
}

#footer {
  clear: both;
  position: relative;
  margin: 0 auto;
  padding: 10px;
  width: 100%;
  bottom: 0px;       
  text-align: center;     
}


.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

@media only screen and (max-width: 600px) {
  .mobile {
    display: block;
  }
  .full-mode {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .mobile {
    display: block;
  }
  .full-mode {
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .mobile {
    display: none;
  }
  .full-mode {
    display: flex;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .mobile {
    display: none;
  }
  .full-mode {
    display: flex;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .mobile {
    display: none;
  }
  .full-mode {
    display: flex;
  }
}
