@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700,700i&display=swap');

$grid-columns:      12;
$grid-gutter-width: 20px;

$grid-breakpoints: (
    // Extra small screen / phone
        xs: 0,
    // Small screen / phone
        sm: 576px,
    // Medium screen / tablet
        md: 768px,
    // Large screen / desktop
        lg: 992px,
    // Extra large screen / wide desktop
        xl: 1200px
);

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px
);

$break-small: 320px;
$break-large: 650px;
$break-large: 1200px;

$bg-dark: #343a40;

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: black;
}
a {
    color: #6c757d;
}

main {
    position: absolute;
    top: 100px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #343a40;
    color: black;
    text-align: right;
    height: 50px;
}

.fa-shopping-cart, .fa-user, .fa-sign-in-alt {
    font-size: 24px;
}

input[text]:invalid {
    border: 1px solid red;
}

input[text]:valid {
    border: 1px solid green;
}
input[type=number] {
    border: 1px solid lightgray;

}

.logo {
    display: block;
    font-family: 'Roboto', sans-serif;
    text-indent: -9999px;
    width: 100px;
    height: 82px;
    background: url('../img/logo.svg');
    background-size: 100px 82px;
}

.opacity-0 {
    opacity: 0; }

.opacity-10 {
    opacity: 0.1; }

.opacity-20 {
    opacity: 0.2; }

.opacity-30 {
    opacity: 0.3; }

.opacity-40 {
    opacity: 0.4; }

.opacity-50 {
    opacity: 0.5; }

.opacity-60 {
    opacity: 0.6; }

.opacity-70 {
    opacity: 0.7; }

.opacity-80 {
    opacity: 0.8; }

.opacity-90 {
    opacity: 0.9; }

.opacity-100 {
    opacity: 1; }

.row-my {
    width: 600px;
    @media screen and (max-width: $break-small) {
        width: 300px;
    }
}

input[type=number] {
    width: 80px;
    box-sizing: border-box;
    border: 2px solid #ccc;
}

.col-my {
    text-align: center;
    width: 150px;
    @media screen and (max-width: $break-small) {
        width: 100px;
    }
}

.cart {
    padding: 2%;
    text-align: center;
    width: 100%;
}

.cart--modal {
    z-index: 999;
    position: absolute;
    width: 0px;
    transition: width 1s linear;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.visually {
    opacity: 100%;
    width: 500px;
}

.cart-item {
    background-color: rgb(240, 240, 240);
}

.cart-btn-delete {
    position: absolute;
    top: 0px;
    right: 0px;
    display: -webkit-box;
}