$grid-gutter-widths: ( xs: 16px, md: 16px, );
// Default Bootstrap gutter width variable.
$grid-gutter-width: map-get($grid-gutter-widths, md);
body {
    margin: 0;
    background-color: lightgrey;
}